#contenitore{
position: relative;
width: 100%;
margin: 5px 0 0 20px;
text-align:center;
overflow:hidden;
font: 12px Verdana, Geneva, sans-serif;
float:left;
}
#contenitore1{
position: relative;
width: 430px;
margin: 5px 0 0 20px;
text-align:center;
overflow:hidden;
font: 12px Verdana, Geneva, sans-serif;
float:left;
}
.right{
float:right;
width:35%;
margin-right:20px;
margin-left:-5px;
}
.right1{
float:right;
width:40%;
margin-right:10px;
}
.left{
float:left;
width:60%;
}
.left1{
float:left;
width:60%;
}
#grafico{
position:relative;
height:200px;
border-left:1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
width:75%;
margin-top:20px;
margin-left:30px;
margin-bottom:20px;
}
#grafico1{
position:relative;
height:200px;
border-left:1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
width:75%;
margin-top:20px;
margin-left:30px;
margin-bottom:20px;
}
.riga{
position:absolute;
left:0;
height: 1px;
background-color:#CCCCCC;
width: 115%;
}
.riga1{
position:absolute;
left:0;
height: 1px;
background-color:#CCCCCC;
width: 100%;
}
.riga div{
float:left;
margin: -8px 0 0 -30px;
}
.riga1 div{
float:left;
margin: -8px 0 0 -30px;
}
.canc{
clear:both;
}
.ctable{
width:90%;
background-color: white;
color: #000;
margin: 10px auto;
}
.ctable .ccaption{
background-color: #D8EED8;
color: #004156;
text-align: left;
}
.ctable .ctr:nth-child(2n){
background-color: #D8EED8;
}
.ctable .ctr:nth-child(2n+1){
background-color: #BFDFFF;
}
.column{
position:absolute;
width: 10%;
bottom: 0;
background-color: #003366;
margin-left:2%;
margin-right:-15%;
}
.column1{
position:absolute;
width: 10%;
bottom: 0;
background-color: #003366;
margin-left:2%;
margin-right:-15%;
}
.column div{
margin-top:-20px;
height:20px;
}
.column1 div{
margin-top:-20px;
height:20px;
}
